@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

$textFont: 'Montserrat', sans-serif;
$bgColor: #D7DDEF;
$textHeadingColor: #141F3F;
$normalTextColor: #464E68;
$otherTextColor: #E4E7ED;
$btnHeight: 45px;

@mixin buttonStyle {
  background-color: #141F3F;
  color: $otherTextColor;
  font-family: $textFont;
}

@mixin rowdisplayStyle {
  display: flex;
  flex-direction: row;
}

@mixin coldisplayStyle {
  display: flex;
  flex-direction: column;
}

body {
  background-color: $bgColor;
}

.headerSection {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   padding-top: 65px;
   .headerDiv1 {
    @include rowdisplayStyle();
    align-items: center;
    gap: 7px;
    img {
      width: 49.46px;
      height: 49.46px;
    }
    p {
      color: $textHeadingColor;
      font-family: $textFont;
      font-size: 16px;
      font-weight: 600;
    }
   }
   .headerDiv2 {
    @include rowdisplayStyle();
    align-items: center;
    gap: 30px;
    a {
      color: $normalTextColor;
      font-size: 20px;
      font-family: $textFont;
      font-weight: 400;
      text-decoration: none;
    }
   }
   .headerDiv3 {
    @include rowdisplayStyle();
    align-items: center;
    .contactBtn {
      @include buttonStyle();
      width: 160px;
      height: 45px;
      padding: 9px 24px 9px 24px;
      text-align: center;
      border: none;
      border-radius: 24px;
      color: $otherTextColor;
      font-size: 20px;
      font-weight: 500;
    }
   }
}
.subHeaderSection {
  @include rowdisplayStyle();
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
  .subSection1 {
    @include coldisplayStyle();
    h2 {
      width: 569px;
      font-family: $textFont;
      font-weight: 600;
      font-size: 40px;
      color: $textHeadingColor;
      line-height: 48.76px;
      margin-bottom: 5px;
      span {
        color: #1F409E;
      }
    }
    p {
      width: 569px;
      font-family: $textFont;
      font-weight: 400;
      font-size: 24px;
      color: $normalTextColor;
      line-height: 29.26px;
    }
    .quoteBtn {
      @include buttonStyle();
      width: 281px;
      height: $btnHeight;
      border: none;
      border-radius: 24px;
      padding: 9px 24px 9px 24px;
      font-weight: 500;
      font-size: 20px;
    }
  }
  .subSection2 {
    padding-top: 30px;
    img {
      width: 401px;
      height: 480px;
    }
  }
}
.serviceSection {
  @include coldisplayStyle();
  align-items: center;
  gap: 80px;
  margin-top: 100px;
  h2 {
    font-family: $textFont;
    font-weight: 600;
    font-size: 28px;
    color: $textHeadingColor;      
  }
  .subSec1 {
    @include rowdisplayStyle();
    justify-content: space-around;
    gap: 200px;
    .subSecDiv1 {
      @include coldisplayStyle();
      align-items: center;
      img {
        width: 139px;
        height: 175px;
      }
      p {
        font-family: $textFont;
        font-weight: 500;
        font-size: 22px;
        color: $textHeadingColor;
      }
      span {
        font-family: $textFont;
        font-weight: 400;
        font-size: 16px;
        color: $normalTextColor;
        text-align: center;
        width: 350px;
      }
    }
  }
}