@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

$textFont: 'Montserrat', sans-serif;
$bgColor: #D7DDEF;
$textHeadingColor: #141F3F;
$normalTextColor: #464E68;
$otherTextColor: #E4E7ED;
$btnHeight: 45px;
$marginTop: 100px;
$paddingTop: 80px;

@mixin buttonStyle {
  background-color: #141F3F;
  color: $otherTextColor;
  font-family: $textFont;
}

@mixin rowdisplayStyle {
  display: flex;
  flex-direction: row;
}

@mixin coldisplayStyle {
  display: flex;
  flex-direction: column;
}

body {
  background-color: $bgColor;
}

.headerSection {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   padding-top: 65px;
   .headerDiv1 {
    @include rowdisplayStyle();
    align-items: center;
    gap: 7px;
    img {
      width: 49.46px;
      height: 49.46px;
    }
    p {
      color: $textHeadingColor;
      font-family: $textFont;
      font-size: 16px;
      font-weight: 600;
    }
   }
   .headerDiv2 {
    @include rowdisplayStyle();
    align-items: center;
    gap: 30px;
    a {
      color: $normalTextColor;
      font-size: 20px;
      font-family: $textFont;
      font-weight: 400;
      text-decoration: none;
    }
   }
   .headerDiv3 {
    @include rowdisplayStyle();
    align-items: center;
    .contactBtn {
      @include buttonStyle();
      width: 160px;
      height: 45px;
      padding: 9px 24px 9px 24px;
      text-align: center;
      border: none;
      border-radius: 24px;
      color: $otherTextColor;
      font-size: 20px;
      font-weight: 500;
    }
   }
}
.subHeaderSection {
  @include rowdisplayStyle();
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
  .subSection1 {
    @include coldisplayStyle();
    z-index: -1;
    h2 {
      width: 569px;
      font-family: $textFont;
      font-weight: 600;
      font-size: 40px;
      color: $textHeadingColor;
      line-height: 48.76px;
      margin-bottom: 5px;
      span {
        color: #1F409E;
      }
    }
    p {
      width: 569px;
      font-family: $textFont;
      font-weight: 400;
      font-size: 24px;
      color: $normalTextColor;
      line-height: 29.26px;
    }
    .quoteBtn {
      @include buttonStyle();
      width: 281px;
      height: $btnHeight;
      border: none;
      border-radius: 24px;
      padding: 9px 24px 9px 24px;
      font-weight: 500;
      font-size: 20px;
    }
  }
  .subSection2 {
    padding-top: 30px;
    z-index: -1;
    img {
      width: 401px;
      height: 480px;
    }
  }
}
.serviceSection {
  @include coldisplayStyle();
  align-items: center;
  gap: 80px;
  margin-top: 100px;
  h2 {
    font-family: $textFont;
    font-weight: 600;
    font-size: 28px;
    color: $textHeadingColor;  
    z-index: -1;    
  }
  .subSec1 {
    @include rowdisplayStyle();
    justify-content: space-around;
    gap: 200px;
    z-index: -1;
    .subSecDiv1 {
      @include coldisplayStyle();
      align-items: center;
      img {
        width: 139px;
        height: 175px;
      }
      p {
        font-family: $textFont;
        font-weight: 500;
        font-size: 22px;
        color: $textHeadingColor;
      }
      span {
        font-family: $textFont;
        font-weight: 400;
        font-size: 16px;
        color: $normalTextColor;
        text-align: center;
        width: 350px;
      }
    }
  }
}
.pricingSection {
  @include coldisplayStyle();
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  h2 {
    font-family: $textFont;
    font-weight: 600;
    font-size: 28px;
    color: $textHeadingColor;      
  }
  .pkgType {
    @include rowdisplayStyle();
    margin-top: 80px;
    align-items: center;
    .startUpdiv {
      background-color: #CDD4E9;
      width: 339px;
      height: 394px;
      @include coldisplayStyle();
      align-items: center;
      border-radius: 25px;
      padding: 0px 30px 24px 30px;
      .upDiv {
        background-color: #8CA0DA;
        width: 165px;
        height: $btnHeight;
        padding: 10px 48px 10px 48px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        text-align: center;
        @include coldisplayStyle();
        justify-content: center;
        p {
          color: #FFFFFF;
          font-size: 24px;
          font-weight: 600;
          font-family: $textFont;
        }
      }
      .priceDiv {
        p {
          color: $textHeadingColor;
          font-size: 24px;
          font-weight: 600;
          font-family: $textFont;
          span {
          color: #A3ADC0;
          font-size: 20px;
          font-weight: 500;
          font-family: $textFont;
          }
        }
      }
      .pkg {
        @include coldisplayStyle();
        max-width: 100%;
        // align-self: flex-start;
        gap: 20px;
        h4 {
          width: 279px;
          font-family: $textFont;
          font-weight: 500;
          font-size: 16px;
          color: $textHeadingColor;
          line-height: 19.5px;
        }
        .pkgList {
          @include coldisplayStyle();
          gap: 10px;          
          .each {
            @include rowdisplayStyle();
            align-items: center;
            gap: 10px;
            label {
            font-family: $textFont;
            font-weight: 400;
            font-size: 14px;
            color: $normalTextColor;
            }           
          }
        }
        .contactDiv {
          @include coldisplayStyle();
          align-items: center;
          justify-content: center;
          .contactBtn {
            background-color: transparent;
            border: 1px solid #4D67B2;
            border-radius: 24px;
            width: 279px;
            height: $btnHeight;
            padding: 1px 24px 1px 24px;
            font-family: $textFont;
            font-size: 20px;
            font-weight: 500;
            color: #031949;
          }
        }
      }
    }
    .proDiv {
      background-color: #BBC7E9;
      width: 362px;
      height: 579px;
      @include coldisplayStyle();
      align-items: center;
      border-radius: 25px;
      padding: 0px 30px 24px 30px;
      .upDiv {
        background-color: #8CA0DA;
        width: 165px;
        height: $btnHeight;
        padding: 10px 48px 10px 48px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        text-align: center;
        @include coldisplayStyle();
        justify-content: center;
        p {
          color: #FFFFFF;
          font-size: 24px;
          font-weight: 600;
          font-family: $textFont;
        }
      }
      .priceDiv {
        p {
          color: $textHeadingColor;
          font-size: 24px;
          font-weight: 600;
          font-family: $textFont;
          span {
          color: #A3ADC0;
          font-size: 20px;
          font-weight: 500;
          font-family: $textFont;
          }
        }
      }
      .pkg {
        @include coldisplayStyle();
        max-width: 100%;
        gap: 20px;
        h4 {
          width: 302px;
          font-family: $textFont;
          font-weight: 500;
          font-size: 16px;
          color: $textHeadingColor;
          line-height: 19.5px;
        }
        .pkgList {
          @include coldisplayStyle();
          gap: 22px;          
          .each {
            @include rowdisplayStyle();
            align-items: center;
            gap: 10px;
            label {
            font-family: $textFont;
            font-weight: 400;
            font-size: 14px;
            color: $normalTextColor;
            }           
          }
        }
        .contactDiv {
          @include coldisplayStyle();
          align-items: center;
          justify-content: center;
          .contactBtn {
            background-color: #E4E7ED;
            border: 1px solid #4D67B2;
            border-radius: 24px;
            width: 279px;
            height: $btnHeight;
            padding: 1px 24px 1px 24px;
            font-family: $textFont;
            font-size: 20px;
            font-weight: 500;
            color: #031949;
          }
        }
      }
    }
    .regulardiv {
      background-color: #CDD4E9;
      width: 339px;
      height: 468px;
      @include coldisplayStyle();
      align-items: center;
      border-radius: 25px;
      padding: 0px 30px 24px 30px;
      .upDiv {
        background-color: #8CA0DA;
        width: 165px;
        height: $btnHeight;
        padding: 10px 48px 10px 48px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        text-align: center;
        @include coldisplayStyle();
        justify-content: center;
        p {
          color: #FFFFFF;
          font-size: 24px;
          font-weight: 600;
          font-family: $textFont;
        }
      }
      .priceDiv {
        p {
          color: $textHeadingColor;
          font-size: 24px;
          font-weight: 600;
          font-family: $textFont;
          span {
          color: #A3ADC0;
          font-size: 20px;
          font-weight: 500;
          font-family: $textFont;
          }
        }
      }
      .pkg {
        @include coldisplayStyle();
        max-width: 100%;
        // align-self: flex-start;
        gap: 23px;
        h4 {
          width: 279px;
          font-family: $textFont;
          font-weight: 500;
          font-size: 16px;
          color: $textHeadingColor;
          line-height: 19.5px;
        }
        .pkgList {
          @include coldisplayStyle();
          gap: 10px;          
          .each {
            @include rowdisplayStyle();
            align-items: center;
            gap: 10px;
            label {
            font-family: $textFont;
            font-weight: 400;
            font-size: 14px;
            color: $normalTextColor;
            }           
          }
        }
        .contactDiv {
          @include coldisplayStyle();
          align-items: center;
          justify-content: center;
          .contactBtn {
            background-color: transparent;
            border: 1px solid #4D67B2;
            border-radius: 24px;
            width: 279px;
            height: $btnHeight;
            padding: 1px 24px 1px 24px;
            font-family: $textFont;
            font-size: 20px;
            font-weight: 500;
            color: #031949;
          }
        }
      }
    }
  }
}
.reqSection {
  max-width: 100%;
  background-image: linear-gradient(#5179EE 100%, #6782CD 100%, #557DF3 100%, #5F7FDC 100%);
  @include rowdisplayStyle();
  justify-content: space-around;
  align-items: center;
  height: 87px;
  margin-top: 100px;
  p {
    font-family: $textFont;
    font-size: 24px;
    font-weight: 600;
    color: $bgColor;
  }
  button {
    background-color: #E4E7ED;
    width: 239px;
    height: $btnHeight;
    border-radius: 24px;
    border: none;
    font-family: $textFont;
    font-size: 22px;
    font-weight: 500;
    color: $textHeadingColor;
    padding: 21px 24px 21px 24px;
    @include coldisplayStyle();
    justify-content: center;
  }
}
.aboutSection {
  @include coldisplayStyle();
  padding-left: 120px;
  padding-right: 120px;
  margin-top: $marginTop;
  .aboutDiv1 {
    @include coldisplayStyle();
    h3 {
      font-family: $textFont;
      font-weight: 600;
      font-size: 28px;
      color: $textHeadingColor;
    }
    p {
      width: 1040px;
      font-family: $textFont;
      font-size: 22px;
      font-weight: 400;
      color: $normalTextColor;
    }
  }
  .founderDiv {
    @include coldisplayStyle();
    gap: 60px;
    margin-top: $marginTop;
    h3 {
      font-family: $textFont;
      font-weight: 600;
      font-size: 28px;
      color: $textHeadingColor;
    }
    .founderDetail {
      @include rowdisplayStyle();
      gap: 32px;
      .founderTxt {
        @include coldisplayStyle();
        p {
          width: 207px;
          font-family: $textFont;
          font-weight: 600;
          font-size: 20px;
          color: $textHeadingColor;
          margin-bottom: -7px;
        }
        .ramzy {
          width: 232px;
          font-family: $textFont;
          font-weight: 600;
          font-size: 20px;
          color: $textHeadingColor;
          margin-bottom: -7px;
        }
        .founderInfo {
          p {
            width: 876px;
            font-family: $textFont;
            font-size: 20px;
            font-weight: 400;
            line-height: 24.38px;
            color: $normalTextColor;
            span {
              color: #1F409E;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
.newsletterSection {
  @include coldisplayStyle();
  justify-content: center;
  align-items: center;
  margin-top: $marginTop;
  .letterDiv {
    width: 490px;
    height: 162px;
    border-radius: 48px;
    @include coldisplayStyle();
    background-color: #BBC7E9;
    justify-content: center;
    padding: 24px 48px 24px 48px;
    span {
      font-family: $textFont;
      font-weight: 400;
      font-size: 16px;
      color: $normalTextColor;
      text-align: center;
    }
    p {
      font-family: $textFont;
      font-weight: 400;
      font-size: 20px;
      color: $normalTextColor;
      text-align: center;
    }
    .inputDiv {
      @include rowdisplayStyle();
      align-items: center;
      input {
        width: 394px;
        height: 46px;
        border-radius: 24px;
        background-color: $bgColor;
        border: none;
        font-size: 20px;
        font-family: $textFont;
        font-weight: 400;
        padding-left: 7px;
        margin-right: -155px;
      }
      .subBtn {
        width: 149px;
        height: 38px;
        border-radius: 24px;
        background-color: #141F3F;
        font-size: 20px;
        font-weight: 500;
        font-family: $textFont;
        color: $bgColor;
        border: none;
      }
    }
  }
}
.footerSection {
  @include rowdisplayStyle();
  justify-content: center;
  margin-top: $marginTop;
  padding-bottom: 108px;
  .footDiv {
    background-color: #CDD4E9;
    width: 1040px;
    height: 289.46px;
    border-radius: 72px;
    @include rowdisplayStyle();
    align-items: center;
    justify-content: space-around;
    padding: 60px 120px 60px 120px;
    .footDiv1 {
      @include coldisplayStyle();
      width: 251.46px;
      height: 169.46px;
      background-color: #BBC7E9;
      border-radius: 36px;
      padding: 24px;
      .logoDiv {
        @include rowdisplayStyle();
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
        img {
          width: 49.46px;
          height: 49.46px;
        }
        p {
          font-family: $textFont;
          font-weight: 600;
          font-size: 16px;
          color: $textHeadingColor;
        }
      }   
      p {
        font-family: $textFont;
          font-weight: 400;
          font-size: 16px;
          color: $normalTextColor;
      }   
    }
    .footDiv2 {
      @include coldisplayStyle();
      gap: 25px;
      h3 {
        font-size: 20px;
        font-weight: 700;
        font-family: $textFont;
        color: $textHeadingColor;
        margin-top: -15px;
      }
      a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        font-family: $textFont;
        color: $normalTextColor;
      }
    }
    .footDiv3 {
      @include coldisplayStyle();
      gap: 3px;
      h3 {
        font-size: 20px;
        font-weight: 700;
        font-family: $textFont;
        color: $textHeadingColor;
        margin-top: -15px;
      }
      .eachLink {
        @include rowdisplayStyle();
        gap: 8px;
        align-items: center;
        img {
          width: 20px;
          height: 20px;
        }
        p {
          font-weight: 400;
          font-family: $textFont;
          font-size: 16px;
          color: $normalTextColor;
        }
        a {
          font-weight: 400;
          font-family: $textFont;
          font-size: 16px;
          color: $normalTextColor;
          text-decoration: none;
        }
      }
    }
  }
}
.quoteSection {
  max-width: 100%;
  @include coldisplayStyle();
  align-items: center;
  background-color: rgba(20, 31, 63, 0.5);
  z-index: 1;
  // margin-bottom: -305em;
  padding-top: 433px;
  height: 4878px;
  overflow: hidden;
  margin-bottom: -330em;
  display: none;
  .cancelDiv {
    @include coldisplayStyle();
    align-items: center;
    justify-content: center;
    img {
      width: 42px;
      height: 42px;
    }
  }
  .formDiv {
    @include coldisplayStyle();
    justify-content: center;
    align-items: center;
    width: 932px;
    height: 662px;
    background-color: #BBC7E9;
    border-radius: 60px;
    padding: 60px;
    gap: 31px;
    .form {
      @include coldisplayStyle();
      gap: 31px;
      .formInfo {
        @include rowdisplayStyle();
        width: 812px;
        justify-content: space-evenly;
        gap: 48px;
        .eachInfo {
          @include coldisplayStyle();
          align-items: flex-start;
          gap: 12px;
          label {
            font-family: $textFont;
            font-size: 20px;
            font-weight: 500;
            color: $textHeadingColor;
          }
          input {
            width: 382px;
            height: $btnHeight;
            border-radius: 24px;
            border: none;
            background-color: #D7DDEF;
            font-size: 20px;
            font-family: $textFont;
            font-weight: 400;
            padding-left: 10px;
          }
          input:focus {
            outline: none;
          }
        }
        select {
          width: 382px;
          height: $btnHeight;
          border-radius: 24px;
          border: none;
          background-color: #D7DDEF;
          font-size: 20px;
          font-family: $textFont;
          font-weight: 400;
          padding-left: 10px;
          option {
            background-color: #D7DDEF;
            width: 382px;
            height: 318px;
            padding-right: 40px;
            border-radius: 22px;
            font-size: 13px;
            font-family: $textFont;
            font-weight: 400;
            position: absolute;
          }
        }
        select:focus {
          outline: none;
        }
        select::-webkit-scrollbar {
          width: 6px;
        }
      select::-webkit-scrollbar-thumb {
          background: #464E68; 
          border-radius: 24px;
        }
      select::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #BBC7E9; 
        border-radius: 24px;
      }
      }
      .formInfo2 {
        @include coldisplayStyle();
        align-items: flex-start;
        gap: 12px;
        label {
          font-family: $textFont;
          font-size: 20px;
          font-weight: 500;
          color: $textHeadingColor;
        }
        textarea {
          width: 812px;
          height: 206px;
          background-color: #D7DDEF;
          border: none;
          border-radius: 24px;
          font-size: 20px;
          font-family: $textFont;
          font-weight: 400;
          color: #ADB8D9;
          padding-left: 15px;
          padding-top: 10px;
        }
      }
      .formInfo3 {
        @include coldisplayStyle();
        align-items: flex-end;
        button {
          @include buttonStyle();
          border: none;
          width: 123px;
          height: $btnHeight;
          border-radius: 24px;
          padding: 10px 24px 10px 24px;
          color: $bgColor;
          font-weight: 500;
          font-family: $textFont;
          font-size: 20px;
        }
      }
    }
  }
}